/Calculator/nbproject/private/
/Calculator/build/
/Calculator/dist/
/Calculator/
/Calcolatrice/nbproject/private/
/Calcolatrice/build/
/Calcolatrice/dist/

/CalcolatriceMvc/nbproject/private/
/CalcolatriceMvc/build/
/CalcolatriceMvc/dist/
/JavaFXApplication23/nbproject/private/
/JavaFXApplication23/build/
/JavaFXApplication23/dist/
/CalcolatriceGruppo04/nbproject/private/
/CalcolatriceGruppo04/build/
/CalcolatriceGruppo04/dist/
/IFTTT/nbproject/private/
/IFTTT/build/
/IFTTT/dist/
