/* styles-dark.css */

/* Stile per i pulsanti in Dark Mode */
.button {
    -fx-background-color: #333333; /* Colore di sfondo in modalità dark */
    -fx-text-fill: #FFFFFF;
	-fx-border-color: transparent;	
	-fx-border-width: 2;
}

.button:hover {
	-fx-background-color: #4C4C4C; 
}

.button:focused {
    -fx-border-color: #007ACC; /* Cambia colore al passaggio del mouse in modalità dark */
	-fx-border-width: 2;
}

.button:armed{

	-fx-background-color: #464646;
	-fx-border-color: #007ACC; /* Cambia colore al passaggio del mouse in modalità dark */
	-fx-border-width: 2;
	
}

